{% extends 'base.html.twig' %}

{% block title %}En savoir plus{% endblock %}

{% block body %}

<section class="page">

<div><img src="{{ asset('images/rideaugauchetheatre.png') }}" alt="Image masque théâtre"></div>

<div class="container">
    
    <h1>En savoir plus...</h1>

<p>Le TKB en tant que troupe autonome a monté 11 spectacles :</p>

<ul>
    <li>"DELIRIUM", Création d'après E. IONESCO (1989/90/91/92)</li>
    <li>"SOUDAIN L'ETE DERNIER" de T. WILLIAMS (1991/92/93)</li>
    <li>"UNE HEURE CHEZ LES AUTRES" d'après J.C. GRUMBERG (1994/95)</li>
    <li> "LE PERE NOEL EST UNE ORDURE" de Josiane BALASKO (1996-97)</li>
    <li>"LE CLOWN AU FOND DE SOI" Comédie adaptée et interprétée par D. CASSAN (TKB) (1996-97-98)</li>
    <li>"LES PALMES DE M. SCHUTZ" de Jean-Noël Fenwick (1997-98-99)</li>
    <li>"CONVERSATIONS APRES UN ENTERREMENT" de Yasmina REZA (2000-2001)</li>
    <li>"UN COIN D'AZUR" Comédie de Jean BOUCHAUD (2003-2005)</li>
    <li>"LES RATS " de Jean-Pierre PELAEZ (2007-2008)</li>
    <li>"LA MASTICATION DES MORTS" de Patrick KERMANN (2010-2011)</li>
    <li>"LE REPAS DES FAUVES de Vahé KATCHA (2013-2014-2015-2016)</li>
    <li>"LE SPECTATEUR CONDAMNE A MORT" de Matéi VISNIEC (2019-2020)</li>
</ul>

<p>Organisation et animations de stages (1989/1990)</p>

    <ul>
        <li>Eclairage scénique</li>
        <li>Maquillage</li>
        <li>Relaxation, Respiration, Diction, Gestes, Déplacements et Improvisations</li>
    </ul>
<br>
    <p>Participation depuis 89 à de nombreux Festivals et manifestations.</p>
<br>
    <p>Tournées régionales.</p>

    
</div>

<div><img src="{{ asset('images/rideaudroittheatre.png') }}" alt="reideau droite théatre" class=" rideau-droite"></div>
</section>
{% endblock %}
