{% extends 'base.html.twig' %}

{% block title %}1980-1990{% endblock %}

{% block body %}

<section class="page">
<div><img src="{{ asset('images/rideaugauchetheatre.png') }}" alt="Image masque théâtre"></div>

<div class="container">
    <h1>1980-1990</h1>

    <p>	
        Dans le cadre de l'Atelier Théâtre du Foyer Rural de Teyran, dix spectacles ont été montés et présentés au public :
    </p>
    <ul>

        <li>1980/81/82 : "Naïs" (M. Pagnol)</li>
        <br>
        <li>1983 : Spectacle composé de 3 pièces :
            <ul>
                <li>"Le Grand Vizir" (R. De Obaldia)</li>
                <li>"Edouard et Agrippine" (R. De Obaldia)</li>
                <li>"La Peur des Coups" (G. Courteline)</li>
            </ul>
        </li>

        <br>
        <li>1984/85/86 : - "Noces de Sang" (F. Garcia-Lorca)</li>
        <br>
        <li>1987 : - "La Grande Muraille" (Max Frisch)</li>
        <br>
        <li>1987 :  - Participation au week-end des arts (Teyran -
            extraits :"Le Malentendu" (A. Camus), "Les Larmes Amères" 
            (Fassbinder), "Les Sables Mouvants" (J.Ph.Hamett)</li>

        <br>
        <li>1988 : - "Jeux de Cannes" : (Création sur des textes de
            E.Ionesco et J.C. Danaud)
        </li>
          <br>
        <li>1989 : - "Du Vent dans les Branches de Sassafras"
            (R. de Obaldia)</li>
        <br>
        <li>1989 : - Animation à l' Ecole Maternelle de Teyran à l'occasion du bicentenaire avec présentation des costumes de l'époque.</li>
        <br>
        <li>1989 : - "Huit Femmes" (R. Thomas)</li>
        <br>
        <li>1990 : - "Ce Que Voit Fox" (J. Sauders)</li>
        
    </ul>

   
</div>
<div><img src="{{ asset('images/rideaudroittheatre.png') }}" alt="reideau droite théatre" class=" rideau-droite"></div>
</section>
{% endblock %}
