{% extends 'base.html.twig' %}

{% block title %}Hello CarouselController!{% endblock %}

{% block body %}

<div class="boutons_dossiers">
    <div class="btn-group mb-4" role="group" aria-label="Dossiers">
        {% for directory in directories %}
            <button><a href="{{ path('carousel', {directory: directory}) }}" class="btn btn-primary {% if selectedDirectory == directory %}active{% endif %}">
                {{ directory | capitalize }}
            </a></button>
        {% endfor %}
    </div>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for image in images %}
                <div class="carousel-item {% if loop.first %}active{% endif %}">
                    <img src="{{ asset(image) }}" class="d-block w-100" alt="...">
                </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}
