{% extends 'base.html.twig' %}

{% block title %}1999-2008{% endblock %}

{% block body %}

<section class="page">

<div><img src="{{ asset('images/rideaugauchetheatre.png') }}" alt="Image masque théâtre"></div>

<div class="container">

    <h1>1999-2008</h1>

<h3>Principales manifestations</h3>
<h5>(Hors représentations régionales)</h5>

    <ul>
        <li>Festival "Les Hivernales 99" de St Clément de Rivière (Janvier 99) 34</li>
        <li>Masque d'Or 99 :
            <ul>
                <li>Sélection Régionale (Masque d'Argent (Castelnau-Le-Lez) ) 34</li>
            </ul>
        </li>
        <li>Spectacle au profit des réfugiés du Kosovo (Castries, Juin 99) 34</li>
        <li>Festival National de Théâtre Amateur de Narbonne (Juillet 99) 11</li>
        <li>Festival Départemental de Claret (Octobre 2000) 34</li>
        <li>Tournage d'un film vidéo destiné à étudier les processus de recrutement :
            <ul>
                <li>Prestation effectuée à la demande du Laboratoire de Psychologie Sociale de l'Université de Grenoble-Chambéry (Février 2001)</li>
            </ul>
        </li>
        <li>Les Théâtrales de Castries (Novembre 2003) 34</li>
        <li>Festival des Pyramides La Grande Motte (Février 2004) 34</li>
        <li>Festival Départemental de Claret (Septembre 2004) 34</li>
        <li>2ème Festival de Fabrègues (Mars 2005) 34</li>
        <li>7ème Festival Acte III Scène 7 - Théâtre La Mer , Sète (Juin 2005) 34</li>
        <li>Participation Flash Conso, France 3 (Décembre 2006)</li>
        <li>Scènes d'un soir (14ème Fest.de théâtre amateur de Sérignan - Juin 2007) 34</li>
        <li>6èmes Théâtrales de Castries - Novembre 2007</li>
        <li>5ème Festival de Fabrègues (Mars 08) 34</li>
    </ul>

</div> 
    
<div><img src="{{ asset('images/rideaudroittheatre.png') }}" alt="reideau droite théatre" class=" rideau-droite"></div>

</section>

{% endblock %}
