{% extends 'base.html.twig' %}

{% block title %}Vidéos du TKB{% endblock %}

{% block body %}

<body id="page-specifique"></body>

<div>
    <h1>Vidéos du TKB</h1>

    <div><h3>Noces de sang</h3>
    <div class="video">
        <figure>
            <iframe width="640" height="360" src="https://www.youtube.com/embed/86vYLOpq3Og?si=bzqemtVaoOqKAYji" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <figcaption>Extrait</figcaption>
        </figure>
    </div>
    </div>
    
    <div><h3>La Grande Muraille</h3>
    <div class="video">
        <figure>
            <iframe width="120" height="90" src="https://www.youtube.com/embed/Bwupwdy0r4M?si=vQxBeYxswyNA2Gdm" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            <figcaption>Cléopâtre</figcaption>
        </figure>
    </div>
    </div>

    
    <div><h3>Délirium</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/votre_video_id" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>La Parade</figcaption>
            </figure>
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/KgoN5PR0gQ8?si=35JwkjEhu2sBEiCr" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>L'Oeuf dur</figcaption>
            </figure>
        </div>
        </div>
        
        
    <div><h3>Les Rats</h3>
        <div class="video">
            <figure>
                <iframe width="120" height="360" src="https://www.youtube.com/embed/DC8JRyR2D6s?si=JnvVEdRV7luMQu7I" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>
   
    <div><h3>Un Coin d'Azur</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/iS2NTv8kjhs?si=_9gHYOs4kiEzWr5q" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>La Pastorale</figcaption>
            </figure>
        </div>
    </div>

    
    <div><h3>Les Palmes de M. Schutz</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/xizeTdvMp9w?si=Ac_f1sHlFySJn4AC" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>
    
    <div><h3>La Mastication des Morts</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/c4ZFY1lcY3Q?si=zrTI910PANxJQ82v" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>
    
    <div><h3>Le Repas des Fauves</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/votre_video_id" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>
    
    <div><h3>Le Spectateur Condamné à mort</h3>
        <div class="video">
            <figure>
                <iframe width="640" height="360" src="https://www.youtube.com/embed/votre_video_id" frameborder="2" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <figcaption>Extrait</figcaption>
            </figure>
        </div>
    </div>
</div>

<br>



<br>

</body>

{% endblock %}
