<div class="footer">
  
   <p>THEATRE DU KRYPTON BLEU</p>
   <p>3, rue des trois Teyran</p>
   <p>34820 TEYRAN</p>
   <p>Téléphone : 06 26 52 08 93</p>
   <p>E-mail : <a href="mailto:claudeteissier@sfr.fr">Contactez-moi !</a></p>
  
</div>


    